/* Delete wattermark Img */
img[alt*="www.000webhost.com"] {
    display: none;
}

body{
    width: 100%;
}

header{
    max-width: 75rem;
    margin: 0 auto;
}

#headerimg{
    width:  100%; /*or 70%, or what you want*/
    height: 250px; /*or 70%, or what you want*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main{
    max-width: 75rem;
    margin: 0 auto;
}

footer{
    max-width: 75rem;
    margin: 0 auto;
}